.container-xl {
  max-width: 1200px;
  margin: 15px auto;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.items-center {
  align-items: center !important;
}

.p-1 {
  padding: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}